body {
  background-color: rgb(236, 241, 246);
  background: size cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b022c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #38578a;
}

.a{
    #background-color: aquamarine;
    color: rgb(1, 11, 11);
    font-style: italic;
}

.b{
    background-color: rgb(245, 246, 247);

}

footer {
    background-image: url('https://www.wallpaperflare.com/static/302/309/318/milky-way-starry-sky-night-sky-star-wallpaper.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
    color: rgba(255, 255, 255, 0.7);
  }

  footer a.b {
    color: rgba(245, 244, 248, 0.7); 
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    font-style: italic; 
    font-size: 24px;
  }
  
  footer a.b:hover {
    color: rgb(7, 233, 245); 
  }